# Do not track the content of these folders
Gradient_Numbers_PPMS/
clusterer




# Do not track these compiled source

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.o
*.exe
*.ppm
*.gch
*.txt
